body{
  height: 100%;
}
#form-main{
  position: relative;
  text-align: center;
  top: 40px;
}
#textarea{
  width: 300px;
  height: 300px;
  font-size: 20px;
  border: 1px solid #444;
  border-radius: 5px;
}
#sns_img{/*画像プレビュー*/
  display: none;
  /*marginはblockを真ん中に*/
  margin: 0 auto;
  max-height: 200px;/*縦200pxまで*/
  max-width: 300px;/*横300pxまで*/
}
.file-btn {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    color: #ffffff;
    background: rgb(13, 139, 80);
    cursor: pointer;
}
.file-btn input {
    display: none;
}